/* colors */

$color-bliss: #f0494f;
$color-ravish: #242d3b;
$color-seductive: #171f28;
$color-dreamy: #f2f2f2;
$color-cloudy: #9a9da1;
$color-trust: #63768d;
$color-sorrow: #464a4e;
$color-euphoric: #59cd90;
$color-enchanted: #4786ff;
$color-tranquil: #f4f5f9;
$color-placeholder: #4c5660;
